# Dados do Ant Media Server
ant-media-data/

# Logs
logs/
*.log

# Certificados SSL
ssl/
*.pem
*.key
*.crt

auth-server/node_modules
stremio-addon/node_modules
mongodb_data

# Docker volumes
volumes/

# Arquivos temporários
*.tmp
*.temp

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações locais
.env
local.conf

# Backups
*.bak
backup/
