<?xml version="1.0" encoding="UTF-8"?>
<Server version="8">
    <Name>YustreamOME</Name>
    <Type>origin</Type>
    <IP>*</IP>
    <PrivacyProtection>false</PrivacyProtection>
    <StunServer>stun.l.google.com:19302</StunServer>
    
    <Modules>
        <ERTMP>
            <Enable>true</Enable>
        </ERTMP>
    </Modules>
    <!-- Configurações de porta -->
    <Bind>
        <Managers>
			<API>
				<Port>8081</Port>
			</API>
		</Managers>
        <Providers>
            <RTMP>
                <Port>1935</Port>
                <WorkerCount>2</WorkerCount>
            </RTMP>
        </Providers>
        <Publishers>
            <LLHLS>
                <Port>8080</Port>
                <TLSPort>8443</TLSPort>
                <WorkerCount>2</WorkerCount>
            </LLHLS>
            <WebRTC>
                <Signalling>
                    <Port>3333</Port>
                    <TLSPort>3334</TLSPort>
                    <WorkerCount>2</WorkerCount>
                </Signalling>
                <IceCandidates>
                    <TcpRelay>163.176.146.172:3478</TcpRelay>
                    <IceCandidate>163.176.146.172:10000-10009/udp</IceCandidate>
                    <TcpRelayWorkerCount>2</TcpRelayWorkerCount>
                </IceCandidates>
            </WebRTC>
        </Publishers>
    </Bind>

    <Managers>
		<API>
			<AccessToken>maketears</AccessToken>
			<CrossDomains>
				<Url>*</Url>
			</CrossDomains>
		</API>
	</Managers>

    <VirtualHosts>
        <VirtualHost include="VHost.xml" />
    </VirtualHosts>
</Server>